.css-vt7cuc-MuiListItemText-root>.css-6cmau2-MuiTypography-root {
    color: #1A73E3;
    font-size: 16px;
}

.MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root {
    color: #1A73E3;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-1xwgyfb-MuiSvgIcon-root {
    color: #1A73E3;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.css-1e7c2qr-MuiToolbar-root-MuiTablePagination-toolbar {
    color: #1A73E3;
}

button.MuiButtonBase-root.Mui-disabled.MuiIconButton-root.Mui-disabled.MuiIconButton-colorInherit.MuiIconButton-sizeMedium.css-1x7sjdv-MuiButtonBase-root-MuiIconButton-root {
    color: grey;
}

li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.css-6f1ok-MuiButtonBase-root-MuiMenuItem-root {
    color: #1A73E3;
}

span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-1dx2ob-MuiTypography-root {
    color: #1A73E3;
}
